<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
       <theme
            basestylesheeturi="css/moon-win.css"
            id="io.github.pyvesb.eclipse_planet_themes.moon"
            label="Moon"
            os="win32">
      </theme>
      <theme
            basestylesheeturi="css/moon-unix.css"
            id="io.github.pyvesb.eclipse_planet_themes.moon"
            label="Moon"
            os="linux">
      </theme>
      <theme
            basestylesheeturi="css/moon-unix.css"
            id="io.github.pyvesb.eclipse_planet_themes.moon"
            label="Moon"
            os="macosx">
      </theme>
      <theme
            basestylesheeturi="css/pluto-win.css"
            id="io.github.pyvesb.eclipse_planet_themes.pluto.dark"
            label="Pluto"
            os="win32">
      </theme>
      <theme
            basestylesheeturi="css/pluto-unix.css"
            id="io.github.pyvesb.eclipse_planet_themes.pluto.dark"
            label="Pluto"
            os="linux">
      </theme>
      <theme
            basestylesheeturi="css/pluto-unix.css"
            id="io.github.pyvesb.eclipse_planet_themes.pluto.dark"
            label="Pluto"
            os="macosx">
      </theme>
      <theme
            basestylesheeturi="css/neptune-win.css"
            id="io.github.pyvesb.eclipse_planet_themes.neptune.dark"
            label="Neptune"
            os="win32">
      </theme>
      <theme
            basestylesheeturi="css/neptune-unix.css"
            id="io.github.pyvesb.eclipse_planet_themes.neptune.dark"
            label="Neptune"
            os="linux">
      </theme>
      <theme
            basestylesheeturi="css/neptune-unix.css"
            id="io.github.pyvesb.eclipse_planet_themes.neptune.dark"
            label="Neptune"
            os="macosx">
      </theme>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="io.github.pyvesb.eclipse_planet_themes.themeElementCategory"
            label="Planet Themes">
      </themeElementCategory>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.codeaffine.eclipse.ui.swt.theme.FontOnStartupLoader">
      </startup>
   </extension>
</plugin>
