@import url("platform:/plugin/io.github.pyvesb.eclipse_planet_themes/css/planets.css");

Shell * {
  color: black;
}

ColorDefinition#io-github-pyvesb-eclipse_planet_themes-BACKGROUND_COLOR {
  color: #f1f1f1;
}

ColorDefinition#io-github-pyvesb-eclipse_planet_themes-ACCENT_COLOR {
  color: #b0b0b0;
}

ColorDefinition#io-github-pyvesb-eclipse_planet_themes-INTERACTION_COLOR {
  color: white;
}

/* The backgrounds of some SashForms (e.g. Debug Variable view) are not styled unless this is specified again. */
SashForm {
  background-color: #f1f1f1;
}

IEclipsePreferences#org-eclipse-ui-editors:io-github-pyvesb-eclipse_planet_themes-moon {
  preferences:
    'AbstractTextEditor.Color.Background=241,241,241'
    'AbstractTextEditor.Color.SelectionBackground=200,200,200'
    'AbstractTextEditor.Color.Foreground.SystemDefault=false'
    'currentLineColor=225,225,225'
    'searchResultIndicationColor=128,128,128';
}

IEclipsePreferences#org-eclipse-ui-workbench:io-github-pyvesb-eclipse_planet_themes-moon {
  preferences:
    'CONTENT_ASSIST_BACKGROUND_COLOR=241,241,241'
    'org.eclipse.egit.ui.UncommittedChangeBackgroundColor=255,255,255'
    'org.eclipse.jdt.ui.Javadoc.backgroundColor=241,241,241'
	'org.eclipse.ui.editors.rangeIndicatorColor=200,200,200'
    'org.eclipse.ui.workbench.INFORMATION_BACKGROUND=241,241,241';
}

IEclipsePreferences#org-eclipse-debug-ui:io-github-pyvesb-eclipse_planet_themes-moon {
  preferences: 'org.eclipse.debug.ui.consoleBackground=241,241,241';
}

IEclipsePreferences#org-eclipse-jdt-ui:io-github-pyvesb-eclipse_planet_themes-moon {
  preferences: 'sourceHoverBackgroundColor=241,241,241';
}