@import url('platform:/plugin/io.github.pyvesb.eclipse_planet_themes/css/planets.css');
@import url('platform:/plugin/io.github.pyvesb.eclipse_planet_themes/css/planets-dark.css');

ColorDefinition#io-github-pyvesb-eclipse_planet_themes-BACKGROUND_COLOR {
  color: #282e43;
}

ColorDefinition#io-github-pyvesb-eclipse_planet_themes-ACCENT_COLOR {
  color: #5275ed;
}

ColorDefinition#io-github-pyvesb-eclipse_planet_themes-INTERACTION_COLOR {
  color: #202437;
}

/* The backgrounds of some SashForms (e.g. Debug Variable view) are not styled unless this is specified again. */
SashForm {
  background-color: #282e43;
}

IEclipsePreferences#org-eclipse-ui-workbench:io-github-pyvesb-eclipse_planet_themes-neptune {
  preferences:
    'ACTIVE_HYPERLINK_COLOR=38,144,219'
    'CONTENT_ASSIST_BACKGROUND_COLOR=40,46,67'
    'HYPERLINK_COLOR=38,144,219'
    'org.eclipse.egit.ui.UncommittedChangeBackgroundColor=32,36,55'
    'org.eclipse.egit.ui.DiffHeadlineBackgroundColor=32,36,55'
    'org.eclipse.egit.ui.DiffHunkBackgroundColor=32,36,55'
    'org.eclipse.jdt.ui.Javadoc.backgroundColor=40,46,67'
    'org.eclipse.jface.REVISION_NEWEST_COLOR=30,80,160'
    'org.eclipse.jface.REVISION_OLDEST_COLOR=3,25,70'
    'org.eclipse.pde.genericeditor.extension.editor.color.attribute=105,159,213'
    'org.eclipse.pde.genericeditor.extension.editor.color.comment=196,217,240'
    'org.eclipse.pde.genericeditor.extension.editor.color.header=105,159,213'
    'org.eclipse.pde.genericeditor.extension.editor.color.quote=207,9,51'
    'org.eclipse.pde.genericeditor.extension.editor.color.tag=105,159,213'
    'org.eclipse.search.ui.match.highlight=55,60,85'
    'org.eclipse.ui.editors.rangeIndicatorColor=82,117,237'
    'org.eclipse.ui.workbench.INFORMATION_BACKGROUND=40,46,67'
    'cucumber.eclipse.editor.presentation.gherkin_comment_colour=196,217,240'
    'cucumber.eclipse.editor.presentation.gherkin_keyword_colour=38,144,219'
    'cucumber.eclipse.editor.presentation.gherkin_numeric_literal_colour=207,9,51'
    'cucumber.eclipse.editor.presentation.gherkin_step_colour=105,159,213'
    'cucumber.eclipse.editor.presentation.gherkin_string_colour=207,9,51'
    'cucumber.eclipse.editor.presentation.gherkin_tag_colour=207,9,51';
}

IEclipsePreferences#org-eclipse-ui-editors:io-github-pyvesb-eclipse_planet_themes-neptune {
  preferences:
    'AbstractTextEditor.Color.SelectionBackground=63,99,139'
    'AbstractTextEditor.Color.Background=40,46,67'
    'LSP4EReadOccurrenceIndicationColor=70,80,110'
    'LSP4ETextOccurrenceIndicationColor=70,80,110'
    'LSP4EWriteOccurrenceIndicationColor=80,80,120'
    'TextOccurrenceIndicationColor=70,80,110'
    'additionIndicationColor=0,0,255'
    'currentIPColor=80,80,120'
    'currentLineColor=55,60,85'
    'deletionIndicationColor=82,117,237'
    'infoIndicationColor=82,117,237'
    'linked.focus.color=207,9,51'
    'linked.target.color=207,9,51'
    'linked.exit.color=196,217,240'
    'matchingBracketsColor=38,144,219'
    'occurrenceIndicationColor=70,80,110'
    'pydevOccurrenceIndicationColor=70,80,110'
    'searchResultIndicationColor=125,140,250'
    'secondaryIPColor=80,80,120'
    'writeOccurrenceIndicationColor=80,80,120';
}

IEclipsePreferences#org-eclipse-debug-ui:io-github-pyvesb-eclipse_planet_themes-neptune {
  preferences:
    'org.eclipse.debug.ui.consoleBackground=40,46,67'
    'org.eclipse.debug.ui.errorColor=207,9,51'
    'org.eclipse.debug.ui.inColor=130,97,239'
    'org.eclipse.debug.ui.outColor=255,255,255';
}

IEclipsePreferences#org-eclipse-jdt-ui:io-github-pyvesb-eclipse_planet_themes-neptune {
  preferences:
    'java_bracket=38,144,219'
    'java_comment_task_tag=38,144,219'
    'java_doc_default=38,144,219'
    'java_doc_keyword=38,144,219'
    'java_doc_link=38,144,219'
    'java_doc_tag=38,144,219'
    'java_keyword=105,159,213'
    'java_keyword_return=105,159,213'
    'java_multi_line_comment=196,217,240'
    'java_operator=38,144,219'
    'java_single_line_comment=196,217,240'
    'java_string=207,9,51'
    'pf_coloring_argument=207,9,51'
    'pf_coloring_comment=196,217,240'
    'pf_coloring_key=105,159,213'
    'semanticHighlighting.annotation.color=207,9,51'
    'semanticHighlighting.field.color=82,117,237'
    'semanticHighlighting.number.color=207,9,51'
    'semanticHighlighting.recordKeyword.color=105,159,213'
    'semanticHighlighting.restrictedKeywords.color=105,159,213'
    'semanticHighlighting.staticField.color=82,117,237'
    'semanticHighlighting.staticFinalField.color=82,117,237'
    'semanticHighlighting.varKeyword.color=105,159,213'
    'semanticHighlighting.yieldKeyword.color=105,159,213'
    'sourceHoverBackgroundColor=40,46,67';
}

IEclipsePreferences#org-eclipse-wst-xml-ui:io-github-pyvesb-eclipse_planet_themes-neptune {
  preferences:
    'cdataBorder=#7454e9 | null | false | false | false | false'
    'commentBorder=#c4d9f0 | null | false | false | false | false'
    'commentText=#c4d9f0 | null | false | false | false | false'
    'declBorder=#2690db | null | false | false | false | false'
    'doctypeExternalId=#5275ed | null | false | false | false | false'
    'doctypeExternalPubref=#5275ed | null | false | false | false | false'
    'doctypeExtrenalSysref=#5275ed | null | false | false | false | false'
    'doctypeName=#cf0933 | null | false | false | false | false'
    'piBorder=#2690db | null | false | false | false | false'
    'tagAttributeName=#699fd5 | null | false | false | false | false'
    'tagAttributeValue=#5275ed | null | false | true | false | false'
    'tagBorder=#2690db | null | false | false | false | false'
    'tagName=#699fd5 | null | true | false | false | false';
}

IEclipsePreferences#org-python-pydev:io-github-pyvesb-eclipse_planet_themes-neptune {
  preferences:
    'BACKQUOTES_COLOR=105,159,213'
    'CLASS_NAME_COLOR=130,97,239'
    'COMMENT_COLOR=196,217,240'
    'DECORATOR_COLOR=207,9,51'
    'DOCSTRING_MARKUP_COLOR=38,144,219'
    'EDITOR_MATCHING_BRACKETS_COLOR=38,144,219'
    'KEYWORD_COLOR=105,159,213'
    'NUMBER_COLOR=207,9,51'
    'OPERATORS_COLOR=38,144,219'
    'PARENS_COLOR=38,144,219'
    'SELF_COLOR=82,117,237'
    'STRING_COLOR=207,9,51'
    'UNICODE_COLOR=207,9,51';
}

IEclipsePreferences#org-eclipse-mylyn-wikitext-ui:io-github-pyvesb-eclipse_planet_themes-neptune {
  preferences:
    'block-h1=font-size: 120%; font-weight: bold; color: #699fd5;'
    'block-h2=font-size: 110%; font-weight: bold; color: #699fd5;'
    'block-h3=font-size: 105%; font-weight: bold; color: #699fd5;'
    'block-h4=font-weight: bold; color: #699fd5;'
    'block-h5=font-size: 90%; font-weight: bold; color: #699fd5;'
    'block-h6=font-size: 80%; font-weight: bold; color: #699fd5;'
    'phrase-code=font-family: monospace; color: #2690db;'
    'block-bc=font-family: monospace; color: #2690db;'
}

IEclipsePreferences#org-eclipse-pde-ui:io-github-pyvesb-eclipse_planet_themes-neptune {
  preferences:
    'editor.color.externalized_string=196,217,240'
    'editor.color.header_attributes=105,159,213'
    'editor.color.header_key=105,159,213'
    'editor.color.header_osgi=105,159,213'
    'editor.color.instr=207,9,51'
    'editor.color.string=207,9,51'
    'editor.color.tag=105,159,213'
    'editor.color.xml_comment=196,217,240';
}


/* Color Palette (This is informative, there is no way of interpolating this into preference tag) */
ColorDefinition#io-github-pyvesb-eclipse_planet_themes-DEFAULT {
  color: rgb(38,  144, 219); 
}
ColorDefinition#io-github-pyvesb-eclipse_planet_themes-STRING {
  color: rgb(84,  120, 234); 
}
ColorDefinition#io-github-pyvesb-eclipse_planet_themes-COMMENT {
  color: rgb(196, 217, 240); 
}
ColorDefinition#io-github-pyvesb-eclipse_planet_themes-PREPROC {
  color: rgb(105, 125, 213); 
}
ColorDefinition#io-github-pyvesb-eclipse_planet_themes-KEYWORD {
  color: rgb(105, 159, 213); 
}
ColorDefinition#io-github-pyvesb-eclipse_planet_themes-NUMBERS {
  color: rgb(104, 151, 187); 
}
ColorDefinition#io-github-pyvesb-eclipse_planet_themes-FUNCTION {
  color: rgb(62,  106, 229); 
}
ColorDefinition#io-github-pyvesb-eclipse_planet_themes-LOCAL_VARS {
  color: rgb(67,  223, 247); 
}
ColorDefinition#io-github-pyvesb-eclipse_planet_themes-GLOBAL_VARS {
  color: rgb(46,  68,  107); 
}
ColorDefinition#io-github-pyvesb-eclipse_planet_themes-TYPEDEF {
  color: rgb(121, 171, 255); 
}
ColorDefinition#io-github-pyvesb-eclipse_planet_themes-STRUCT {
  color: rgb(71, 96,  181); 
}
ColorDefinition#io-github-pyvesb-eclipse_planet_themes-STRUCT_FIELD {
  color: rgb(82,  117, 237); 
}
ColorDefinition#io-github-pyvesb-eclipse_planet_themes-MACRO {
  color: rgb(75,  89,  196); 
}
ColorDefinition#io-github-pyvesb-eclipse_planet_themes-ENUM {
  color: rgb(129, 155, 204); 
}
ColorDefinition#io-github-pyvesb-eclipse_planet_themes-DEBUG {
  color: rgb(255, 255, 0); 
}

IEclipsePreferences#org-eclipse-cdt-ui:io-github-pyvesb-eclipse_planet_themes-neptune {
  preferences:
    'asm_directive                                            = 8,   144, 219' 	/* DEFAULT */
    'asm_label                                                = 38,  144, 219' 	/* DEFAULT */
    'c_braces                                                 =	38,  144, 219' 	/* DEFAULT */
    'c_comment_task_tag                                       = 196, 217, 240' 	/* COMMENT */
    'c_default                                                = 146, 121, 255' 	/* DEFAULT2 */
    'c_keyword                                                = 105, 159, 213' 	/* KEYWORD */
    'c_multi_line_comment                                     = 196, 217, 240' 	/* COMMENT */
    'c_numbers                                                = 104, 151, 187' 	/* NUMBERS */
    'c_operators                                              = 38,  144, 219' 	/* DEFAULT */
    'c_single_line_comment                                    = 196, 217, 240' 	/* COMMENT */
    'c_string                                                 = 84,  120, 234' 	/* STRING */
    'c_type                                                   = 105, 159, 213' 	/* KEYWORD */
    'pp_default                                               = 38,  144, 219' 	/* DEFAULT */ 
    'pp_directive                                             = 105, 125, 213' 	/* PREPROC */
    'pp_header                                                = 84,  120, 234' 	/* STRING */
    'semanticHighlighting.annotation.color                    = 196, 181, 184'
    'semanticHighlighting.number.color                        = 104, 151, 187' 	/* NUMBERS */
    'semanticHighlighting.recordKeyword.color                 = 105, 159, 213' 	/* KEYWORD */
    'semanticHighlighting.restrictedKeywords.color            = 105, 159, 213'	/* KEYWORD */
    'semanticHighlighting.varKeyword.color                    = 105, 159, 213' 	/* KEYWORD */
    'semanticHighlighting.yieldKeyword.color                  = 121, 171, 255'  /* TYPEDEF */
    'semanticHighlighting.class.color                         = 71,  96,  181' 	/* STRUCT */
    'semanticHighlighting.enum.color                          = 129, 155, 204' 	/* ENUM */
    'semanticHighlighting.enumerator.color                    = 82,  117, 237' 	/* STRUCT_FIELD */
    'semanticHighlighting.externalSDK.color                   = 63,  236, 193'
    'semanticHighlighting.field.color                         = 82,  117, 237'  /* STRUCT_FIELD */
    'semanticHighlighting.function.color                      = 104, 151, 187'  /* FUNCTION */
    'semanticHighlighting.functionDeclaration.color           = 62,  106, 229'  /* FUNCTION */
    'semanticHighlighting.globalVariable.color                = 68,  164, 159'
    'semanticHighlighting.localVariable.color                 = 67,  223, 247'  /* LOCAL VARS */
    'semanticHighlighting.localVariableDeclaration.color      = 67,  223, 247'  /* LOCAL VARS */
    'semanticHighlighting.macroDefinition.color               = 46,  62,  177'  /* MACRO */
    'semanticHighlighting.method.color                        = 62,  106, 229'  /* FUNCTION */
    'semanticHighlighting.methodDeclaration.color             = 104, 151, 187'  /* FUNCTION */
    'semanticHighlighting.namespace.color                     = 121, 171, 255'  /* TYPEDEF */
    'semanticHighlighting.parameterVariable.color             = 67,  223, 247' 	/* LOCAL VARS */
    'semanticHighlighting.staticField.color                   = 67,  223, 247' 	/* LOCAL VARS */
    'semanticHighlighting.staticMethod.color                  = 67,  223, 247' 	/* LOCAL VARS */
    'semanticHighlighting.typedef.color                       = 121, 171, 255' 	/* TYPEDEF */
    'semanticHighlighting.typeParameter.color                 = 67,  223, 247' 	/* LOCAL VARS */
    'buildConsoleInfoStreamColor                              = 18,  144, 195'
    'buildConsoleOutputStreamColor                            = 200, 200, 200'
    'buildConsoleErrorStreamColor                             = 163, 5,   5'
    'buildConsoleBackgroundColor                              = 40,  46,  67'
    'buildConsoleProblemBackgroundColor                       = 130, 6,   12'
    'buildConsoleProblemWarningBackgroundColor                = 150, 88,  11'
    'buildConsoleProblemInfoBackgroundColor                   = 122, 131, 235'
    'buildConsoleProblemHighlightedColor                      = 255, 0,   0'
    'sourceHoverBackgroundColor                               = 40,  46,  67'
    'inactiveCodeColor                                        = 30,  30,  30'
    'org.eclipse.cdt.internal.ui.text.doctools.multi          = 196, 217, 240' 	/* COMMENT */
    'org.eclipse.cdt.internal.ui.text.doctools.recognizedTag  = 30,120,155'
    'org.eclipse.cdt.internal.ui.text.doctools.single         =	196, 217, 240' 	/* COMMENT */
}

IEclipsePreferences#org-eclipse-egit-ui:io-github-pyvesb-eclipse_planet_themes-neptune {
	preferences:
		'DiffAddBackgroundColor=11,121,90'
		'DiffAddForegroundColor=216,254,245'
		'DiffHeadlineBackgroundColor=71,71,71'
		'DiffHeadlineForegroundColor=242,242,242'
		'DiffHunkBackgroundColor=53,97,113'
		'DiffHunkForegroundColor=233,242,254'
		'DiffRemoveBackgroundColor=117,2,36'
		'DiffRemoveForegroundColor=255,232,237'
		'IgnoredResourceBackgroundColor=42,42,42'
		'IgnoredResourceForegroundColor=120,120,120'
		'UncommittedChangeBackgroundColor=42,42,42'
		'UncommittedChangeForegroundColor=114,157,186';
}