CTabFolder {
  padding: 0px 0px 1px 0px;
  swt-tab-renderer: url('bundleclass://io.github.pyvesb.eclipse_planet_themes/io.github.pyvesb.eclipse_planet_themes.CTabFolderPlanetsRenderer');
  swt-tab-outline: '#io-github-pyvesb-eclipse_planet_themes-BACKGROUND_COLOR';
  swt-selected-tab-fill: '#io-github-pyvesb-eclipse_planet_themes-BACKGROUND_COLOR';
  swt-outer-keyline-color: '#io-github-pyvesb-eclipse_planet_themes-BACKGROUND_COLOR';
  swt-maximize-visible: false;
  swt-selected-tab-highlight: '#io-github-pyvesb-eclipse_planet_themes-ACCENT_COLOR';
  swt-selected-highlight-top: true;
}

CTabFolder.active {
  swt-selected-tab-highlight: none;
  swt-tab-outline: '#io-github-pyvesb-eclipse_planet_themes-ACCENT_COLOR';
  swt-selected-tab-fill: '#io-github-pyvesb-eclipse_planet_themes-ACCENT_COLOR';
}

/* CTabFolders within dialogs do not support the active pseudo CSS class. */
Shell[swt-data-class ~= 'org.eclipse.jface.dialogs.Dialog'] * CTabFolder {
  padding: 0px ;
  swt-selected-tab-highlight: none;
  swt-tab-outline: '#io-github-pyvesb-eclipse_planet_themes-ACCENT_COLOR';
  swt-selected-tab-fill: '#io-github-pyvesb-eclipse_planet_themes-ACCENT_COLOR';
}

CTabFolder#org-eclipse-ui-editorss,
Composite#org-eclipse-ui-editorss * CTabFolder {
  swt-minimize-visible: false;
}

.MToolBar.Draggable,
.MToolControl.TrimStack,
.MToolControl.Draggable {
  handle-image: url('platform:/plugin/io.github.pyvesb.eclipse_planet_themes/images/handle.png');
  handle-image-rotated: url('platform:/plugin/io.github.pyvesb.eclipse_planet_themes/images/handle-rotated.png');
}

.DragFeedback,
.ModifiedDragFeedback {
  background-color: '#io-github-pyvesb-eclipse_planet_themes-ACCENT_COLOR';
}

CTabItem {
  swt-show-close: false;
}

Shell, Shell * {
  background-color:'#io-github-pyvesb-eclipse_planet_themes-BACKGROUND_COLOR';
}

Shell[swt-data-class ~= 'org.eclipse.jface.dialogs.PopupDialog'] *,
StagingView-18 > StyledText,
Button[style~='SWT.PUSH'],
Text[style~='SWT.BORDER'],
Combo,
CCombo,
List,
Spinner,
TreeAdapter,
TableAdapter {
  background-color: '#io-github-pyvesb-eclipse_planet_themes-INTERACTION_COLOR';
}

Tree, Table {
  background-color: '#io-github-pyvesb-eclipse_planet_themes-INTERACTION_COLOR';
  swt-header-background-color: '#io-github-pyvesb-eclipse_planet_themes-INTERACTION_COLOR';
}

Form, Section, ExpandableComposite {
  tb-toggle-color: '#io-github-pyvesb-eclipse_planet_themes-ACCENT_COLOR';
  tb-toggle-hover-color: '#io-github-pyvesb-eclipse_planet_themes-ACCENT_COLOR';
}

Form {
  h-hover-full-color: '#io-github-pyvesb-eclipse_planet_themes-BACKGROUND_COLOR';
  h-hover-light-color: '#io-github-pyvesb-eclipse_planet_themes-BACKGROUND_COLOR';
  h-bottom-keyline-2-color: '#io-github-pyvesb-eclipse_planet_themes-ACCENT_COLOR';
  h-bottom-keyline-1-color: '#io-github-pyvesb-eclipse_planet_themes-ACCENT_COLOR';
  swt-background-mode: 'force';
  text-background-color: '#io-github-pyvesb-eclipse_planet_themes-BACKGROUND_COLOR';
}

TabbedPropertyTitle {
  swt-backgroundgradientstart-color: '#io-github-pyvesb-eclipse_planet_themes-BACKGROUND_COLOR';
  swt-backgroundgradientend-color: '#io-github-pyvesb-eclipse_planet_themes-BACKGROUND_COLOR';
  swt-backgroundbottomkeyline1-color: '#io-github-pyvesb-eclipse_planet_themes-ACCENT_COLOR';
  swt-backgroundbottomkeyline2-color: '#io-github-pyvesb-eclipse_planet_themes-ACCENT_COLOR';
}

Section {
  background-color-gradient-titlebar: '#io-github-pyvesb-eclipse_planet_themes-BACKGROUND_COLOR';
  background-color-titlebar: '#io-github-pyvesb-eclipse_planet_themes-BACKGROUND_COLOR';
  border-color-titlebar: '#io-github-pyvesb-eclipse_planet_themes-BACKGROUND_COLOR';
}

ColorDefinition#io-github-pyvesb-eclipse_planet_themes-BACKGROUND_COLOR {
  category: '#io-github-pyvesb-eclipse_planet_themes-themeElementCategory';
  label: 'Background Color';
  description: 'The background color of most visual elements.';
}

ColorDefinition#io-github-pyvesb-eclipse_planet_themes-ACCENT_COLOR {
  category: '#io-github-pyvesb-eclipse_planet_themes-themeElementCategory';
  label: 'Accent Color';
  description: 'The color for tab highlights, keylines and scrollbars on Windows.';
}

ColorDefinition#io-github-pyvesb-eclipse_planet_themes-INTERACTION_COLOR {
  category: '#io-github-pyvesb-eclipse_planet_themes-themeElementCategory';
  label: 'Interaction Color';
  description: 'The background color for buttons, various selectable elements, trees and tables.';
}

ThemesExtension {
  color-definition:
    '#io-github-pyvesb-eclipse_planet_themes-BACKGROUND_COLOR',
    '#io-github-pyvesb-eclipse_planet_themes-ACCENT_COLOR',
    '#io-github-pyvesb-eclipse_planet_themes-INTERACTION_COLOR';
}

IEclipsePreferences#org-eclipse-ui-editors:io-github-pyvesb-eclipse_planet_themes-planets {
  preferences:
    'AbstractTextEditor.Color.Background.SystemDefault=false'
    'AbstractTextEditor.Color.SelectionBackground.SystemDefault=false'
    'AbstractTextEditor.Color.SelectionForeground.SystemDefault=false'
    'AbstractTextEditor.Color.SelectionForeground=0,0,0'
    'searchResultIndication=true'
    'searchResultHighlighting=false'
    'searchResultTextStyle=DASHED_BOX';
}

/* recordKeyword, varKeyword, yieldKeyword are for Eclipse 2020-06 & 2020-09, but were replaced by restrictedKeywords in 2020-12. */
IEclipsePreferences#org-eclipse-jdt-ui:io-github-pyvesb-eclipse_planet_themes-planets {
  preferences:
    'java_keyword_bold=true'
    'java_keyword_return_bold=true'
    'semanticHighlighting.methodDeclarationName.enabled=true'
    'semanticHighlighting.methodDeclarationName.bold=true'
    'semanticHighlighting.restrictedKeywords.bold=true'
    'semanticHighlighting.recordKeyword.bold=true'
    'semanticHighlighting.varKeyword.bold=true'
    'semanticHighlighting.yieldKeyword.bold=true';
}
