@import url("platform:/plugin/io.github.pyvesb.eclipse_planet_themes/css/planets.css");
@import url("platform:/plugin/io.github.pyvesb.eclipse_planet_themes/css/planets-dark.css");

ColorDefinition#io-github-pyvesb-eclipse_planet_themes-BACKGROUND_COLOR {
  color: #221f23;
}

ColorDefinition#io-github-pyvesb-eclipse_planet_themes-ACCENT_COLOR {
  color: #7454e1;
}

ColorDefinition#io-github-pyvesb-eclipse_planet_themes-INTERACTION_COLOR {
  color: #1e1b1e;
}

/* The backgrounds of some SashForms (e.g. Debug Variable view) are not styled unless this is specified again. */
SashForm {
  background-color: #221f23;
}

IEclipsePreferences#org-eclipse-ui-workbench:io-github-pyvesb-eclipse_planet_themes-pluto {
  preferences:
    'ACTIVE_HYPERLINK_COLOR=236,154,24'
    'CONTENT_ASSIST_BACKGROUND_COLOR=34,31,35'
    'HYPERLINK_COLOR=236,154,24'
    'org.eclipse.egit.ui.UncommittedChangeBackgroundColor=30,27,30'
    'org.eclipse.egit.ui.DiffHeadlineBackgroundColor=30,27,30'
    'org.eclipse.egit.ui.DiffHunkBackgroundColor=30,27,30'
    'org.eclipse.jdt.ui.Javadoc.backgroundColor=34,31,35'
    'org.eclipse.jface.REVISION_NEWEST_COLOR=160,120,40'
    'org.eclipse.jface.REVISION_OLDEST_COLOR=70,45,3'
    'org.eclipse.pde.genericeditor.extension.editor.color.attribute=116,84,225'
    'org.eclipse.pde.genericeditor.extension.editor.color.comment=240,218,196'
    'org.eclipse.pde.genericeditor.extension.editor.color.header=116,84,225'
    'org.eclipse.pde.genericeditor.extension.editor.color.quote=236,154,24'
    'org.eclipse.pde.genericeditor.extension.editor.color.tag=116,84,225'
    'org.eclipse.search.ui.match.highlight=66,50,84'
    'org.eclipse.ui.editors.rangeIndicatorColor=116,84,225'
    'org.eclipse.ui.workbench.INFORMATION_BACKGROUND=34,31,35'
    'cucumber.eclipse.editor.presentation.gherkin_comment_colour=240,218,196'
    'cucumber.eclipse.editor.presentation.gherkin_keyword_colour=236,154,24'
    'cucumber.eclipse.editor.presentation.gherkin_numeric_literal_colour=189,51,30'
    'cucumber.eclipse.editor.presentation.gherkin_step_colour=116,84,225'
    'cucumber.eclipse.editor.presentation.gherkin_string_colour=189,51,30'
    'cucumber.eclipse.editor.presentation.gherkin_tag_colour=189,51,30';
}

IEclipsePreferences#org-eclipse-ui-editors:io-github-pyvesb-eclipse_planet_themes-pluto {
  preferences:
    'AbstractTextEditor.Color.SelectionBackground=99,63,139'
    'AbstractTextEditor.Color.Background=34,31,35'
    'LSP4EReadOccurrenceIndicationColor=80,70,85'
    'LSP4ETextOccurrenceIndicationColor=80,70,85'
    'LSP4EWriteOccurrenceIndicationColor=100,90,110'
    'TextOccurrenceIndicationColor=80,70,85'
    'additionIndicationColor=128,0,255'
    'currentIPColor=100,90,110'
    'currentLineColor=64,57,66'
    'deletionIndicationColor=219,162,38'
    'infoIndicationColor=116,84,225'
    'linked.focus.color=189,51,30'
    'linked.target.color=189,51,30'
    'linked.exit.color=240,218,196'
    'matchingBracketsColor=236,154,24'
    'occurrenceIndicationColor=80,70,85'
    'pydevOccurrenceIndicationColor=80,70,85'
    'searchResultIndicationColor=133,51,234'
    'secondaryIPColor=100,90,110'
    'writeOccurrenceIndicationColor=100,90,110';
}

IEclipsePreferences#org-eclipse-debug-ui:io-github-pyvesb-eclipse_planet_themes-pluto {
  preferences:
    'org.eclipse.debug.ui.consoleBackground=34,31,35'
    'org.eclipse.debug.ui.errorColor=189,51,30'
    'org.eclipse.debug.ui.inColor=223,153,84';
}

IEclipsePreferences#org-eclipse-jdt-ui:io-github-pyvesb-eclipse_planet_themes-pluto {
  preferences:
    'java_bracket=236,154,24'
    'java_comment_task_tag=236,154,24'
    'java_doc_default=236,154,24'
    'java_doc_keyword=236,154,24'
    'java_doc_link=236,154,24'
    'java_doc_tag=236,154,24'
    'java_keyword=116,84,225'
    'java_keyword_return=116,84,225'
    'java_multi_line_comment=240,218,196'
    'java_operator=236,154,24'
    'java_single_line_comment=240,218,196'
    'java_string=189,51,30'
    'pf_coloring_argument=189,51,30'
    'pf_coloring_comment=240,218,196'
    'pf_coloring_key=116,84,225'
    'semanticHighlighting.annotation.color=189,51,30'
    'semanticHighlighting.field.color=219,162,38'
    'semanticHighlighting.number.color=189,51,30'
    'semanticHighlighting.recordKeyword.color=116,84,225'
    'semanticHighlighting.restrictedKeywords.color=116,84,225'
    'semanticHighlighting.staticField.color=219,162,38'
    'semanticHighlighting.staticFinalField.color=219,162,38'
    'semanticHighlighting.varKeyword.color=116,84,225'
    'semanticHighlighting.yieldKeyword.color=116,84,225'
    'sourceHoverBackgroundColor=34,31,35';
}

IEclipsePreferences#org-eclipse-wst-xml-ui:io-github-pyvesb-eclipse_planet_themes-pluto {
  preferences:
    'cdataBorder=#7454e9 | null | false | false | false | false'
    'commentBorder=#f0dac4 | null | false | false | false | false'
    'commentText=#f0dac4 | null | false | false | false | false'
    'declBorder=#ec9a18 | null | false | false | false | false'
    'doctypeExternalId=#7454e1 | null | false | false | false | false'
    'doctypeExternalPubref=#7454e1 | null | false | false | false | false'
    'doctypeExtrenalSysref=#7454e1 | null | false | false | false | false'
    'doctypeName=#bd331e | null | false | false | false | false'
    'piBorder=#ec9a18 | null | false | false | false | false'
    'tagAttributeName=#7454e1 | null | false | false | false | false'
    'tagAttributeValue=#7454e1 | null | false | true | false | false'
    'tagBorder=#ec9a18 | null | false | false | false | false'
    'tagName=#7454e1 | null | true | false | false | false';
}

IEclipsePreferences#org-python-pydev:io-github-pyvesb-eclipse_planet_themes-pluto {
  preferences:
    'BACKQUOTES_COLOR=116,84,225'
    'CLASS_NAME_COLOR=223,153,84'
    'COMMENT_COLOR=240,218,196'
    'DECORATOR_COLOR=189,51,30'
    'DOCSTRING_MARKUP_COLOR=236,154,24'
    'EDITOR_MATCHING_BRACKETS_COLOR=236,154,24'
    'KEYWORD_COLOR=116,84,225'
    'NUMBER_COLOR=189,51,30'
    'OPERATORS_COLOR=236,154,24'
    'PARENS_COLOR=236,154,24'
    'SELF_COLOR=219,162,38'
    'STRING_COLOR=189,51,30'
    'UNICODE_COLOR=189,51,30';
}

IEclipsePreferences#org-eclipse-mylyn-wikitext-ui:io-github-pyvesb-eclipse_planet_themes-pluto {
  preferences:
    'block-h1=font-size: 120%; font-weight: bold; color: #7454e1;'
    'block-h2=font-size: 110%; font-weight: bold; color: #7454e1;'
    'block-h3=font-size: 105%; font-weight: bold; color: #7454e1;'
    'block-h4=font-weight: bold; color: #7454e1;'
    'block-h5=font-size: 90%; font-weight: bold; color: #7454e1;'
    'block-h6=font-size: 80%; font-weight: bold; color: #7454e1;'
    'phrase-code=font-family: monospace; color: #ec9a18;'
    'block-bc=font-family: monospace; color: #ec9a18;'
}

IEclipsePreferences#org-eclipse-pde-ui:io-github-pyvesb-eclipse_planet_themes-pluto {
  preferences:
    'editor.color.externalized_string=240,218,196'
    'editor.color.header_attributes=116,84,225'
    'editor.color.header_key=116,84,225'
    'editor.color.header_osgi=116,84,225'
    'editor.color.instr=236,154,24'
    'editor.color.string=236,154,24'
    'editor.color.tag=116,84,225'
    'editor.color.xml_comment=240,218,196';
}
